.banner {
  background-image: url("../assets/Icons/Vector.png");
  background-position: bottom;
  height: 150px;
  position: sticky;
  border-radius: 10px;
}

.banner1 {
  background-image: url("../assets/Icons/Vector.png");
  background-position: bottom;
  height: 250px;
  margin-bottom: 250px;
}

.banner h1 {
  text-align: center;
  position: relative;
  top: 50px;
}
